@page
@model AspNetRunBasicRealWorld.ProductModel
@{
    ViewData["Title"] = "Product";
}
    
    <div class="container">
        <h1 class="my-4"></h1>
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                    <ul class="list-group category_block">
                        @foreach (var category in Model.CategoryList)
                        {
                            <li class="list-group-item"><a asp-page="Product" asp-route-categoryId="@category.Id">@category.Name</a></li>                                                      
                        }                        
                    </ul>
                </div>               
            </div>
            <div class="col">
                <div class="row">

                    @foreach (var product in Model.ProductList)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a asp-page="ProductDetail" asp-route-productId="@product.Id"><img asp-append-version="true" class="card-img-top" src="~/images/product/@product.ImageFile" alt=""></a>                                
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-page="ProductDetail" asp-route-productId="@product.Id" class="color-main">@product.Name</a>
                                    </h4>
                                    <p class="card-text">@product.Summary</p>                                  
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col">
                                                <p class="btn btn-danger">@product.Price</p>
                                            </div>
                                            <div class="col">
                                                <a asp-page="Product" asp-route-productId="@product.Id" class="btn btn-success btn-block">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    
                    <div class="col-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </div>
    </div>


