@page
@model AspNetRunBasicRealWorld.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        Our Products
    </h1>
    <hr />

    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <span class="input-group-btn">
                    <button class="btn btn-success">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </form>

   
    <div class="row">
        @foreach (var product in Model.ProductList)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a asp-page="./Details" asp-route-productId="@product.Id"><img asp-append-version="true" class="card-img-top" src="~/images/product/@product.ImageFile" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-page="./Details" asp-route-productId="@product.Id" class="color-main">@product.Name</a>
                        </h4>
                        <p class="card-text">@product.Summary</p>
                    </div>
                    <div class="card-footer">
                        <a asp-page="./Details" asp-route-productId="@product.Id" class="btn btn-success w-100">Go Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>

@section FooterCustomize {
    <p><a class="text-white" href="#">Computers</a></p>
    <p><a class="text-white" href="#">Smart Home Products</a></p>
    <p><a class="text-white" href="#">Movies & Television</a></p>
}
